@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
:root {
    --font01:'Passero One', cursive;;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: lightgray;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    font-size: 8vw;
    text-align: center;
    padding: 10vh;
    font-family: var(--font01);
}

header h1:hover {
    color: rgb(194, 149, 4);
}

section {
    background-color: rgb(128, 126, 126);
    padding: 5vh 20px 5vh;
    margin: 10px;
}

section.conteudo {
    background-color: white;
}
section.conteudo p {
    font-size: 50px;
}

section.imagens {
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 2px 13px rgba(0, 0, 0, 0.432);
}

section.imagens p {
    font-variant: small-caps;
    font-size: 4vw;
    background-color: rgba(0, 0, 0, 0.527);
    display: inline-block;
    padding: 10px;
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    padding: 15px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 25px;
}
    footer p:hover {
        color: rgb(255, 174, 0);
    }