@charset "utf-8";

body {
    background-color: rgb(80, 79, 79);
}

h1 {
    color: white;
    text-align: center;
}

img {
    width: 400px;
    max-width: 100%;
    display: auto;
    align-items: center;
}

.voltar {
    width: 60px;
}

